.navbar-personal{
    background-color: rgb(15, 2, 2);
}

.jovani{
    height: 700px;
    width: 100vw;
    object-fit: cover;
}


.img1{
    height: 48rem;
    object-fit: cover;
    width: 100%;
}
.fondo{
    background-image: url(/media/aea09d635db4444475efac0b42e0ac1b.gif);
    background-size: cover;
} 














@media screen and (max-width: 980px)  {

    /* .col{
        display: flex;
        justify-content: center;
        flex-direction: column;

    } */

    .row{
        display: flex;
        flex-direction: column;
    }
    .col{
        display: flex;
        justify-content: center;
    }
}

